@page
@model RudysRecyclables.Pages.AdminHomeModel
@{
    ViewData["Title"] = "AdminHome";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>AdminHome</h1>
<p>
    <h5>Aggregate Statistics</h5>
</p>
<div class="row">
    <div class="col"><center><b>StatOne</b></center></div>
    <div class="col"><center><b>StatTwo</b></center></div>
    <div class="col"><center><b>StatThree</b></center></div>
    <div class="col"><center><b>StatFour</b></center></div>
</div>

<div class="row text-center text-lg-left">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <center>Praesent mollis</center>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <center>Praesent mollis</center>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <center>Praesent mollis</center>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <center>Praesent mollis</center>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="row mb-5">
            <h5>Suspendisse at</h5>
            <form method="get" action="~/data/GraphData.csv" class="ml-auto ml-1">
                <button type="submit" class="btn btn-primary">Export</button>
            </form>
        </div>
        <div class="row">
            <img src="~/img/GraphOne.png" class="img-fluid" />
        </div>
        <div class="row">
            <div class="col text-center">
                From
            </div>
            <div class="col text-center">
                To
            </div>
        </div>
    </div>
    &emsp;
    <div class="col">
        <div class="row mb-4">
            <h5>Mauris massa</h5>
            <button type="submit" class="btn btn-primary ml-auto ml-1">Export</button>
        </div>
        <div class="row">
            <img src="~/img/GraphTwo.png" class="img-fluid" />
        </div>
    </div>
</div>


@*<img src="~/img/AdminHome.png" />*@
