@page
@model RudysRecyclables.Pages.AdminHomeModel
@{
    ViewData["Title"] = "AdminHome";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>AdminHome</h1>
<p>
    <h5>Aggregate Statistics</h5>
</p>

<img src="~/img/AdminHome.png" />
