@page
@model RudysRecyclables.Pages.AdminHomeModel
@{
    ViewData["Title"] = "AdminHome";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<h1>AdminHome</h1>

<p>
    <h5>Aggregate Statistics</h5>
</p>

<div class="row">

    <div class="col"><center><b>StatOne</b></center></div>

    <div class="col"><center><b>StatTwo</b></center></div>

    <div class="col"><center><b>StatThree</b></center></div>

    <div class="col"><center><b>StatFour</b></center></div>

</div>

<div class="row text-center text-lg-left">

    <div class="col">

        <div class="card">

            <div class="card-body">
                <center>Praesent mollis</center>
            </div>

        </div>

    </div>

    <div class="col">

        <div class="card">

            <div class="card-body">
                <center>Praesent mollis</center>
            </div>

        </div>

    </div>

    <div class="col">

        <div class="card">

            <div class="card-body">
                <center>Praesent mollis</center>
            </div>

        </div>

    </div>

    <div class="col">

        <div class="card">

            <div class="card-body">
                <center>Praesent mollis</center>
            </div>

        </div>

    </div>

</div>

<br />

<div class="row">

    <div class="col">

        <div class="row mb-5">
            <h5>Suspendisse at</h5>
            <form method="get" action="~/data/GraphData.csv" class="ml-auto ml-1">
                <button type="submit" class="btn btn-primary">Export</button>
            </form>
        </div>

        <div class="row">
            <img src="~/img/PrimaryGraphOne.png" class="img-fluid" id="graphOne"/>
        </div>

        <br />

        <div class="row">

            <div class="col text-center">
                Start Date: 
                <input id="startDate" value="@DateTime.Today.AddDays(-14).ToShortDateString()" />
            </div>

            <div class="col text-center">
                End Date:
                <input id="endDate" value="@DateTime.Today.ToShortDateString()" />
                <br />
                <button type="reset" class="btn btn-primary float-lg-right" onclick="ChangeGraphOne()" asp-area="">Regenerate</button>
            </div>

        </div>

    </div>

    &emsp;

    <div class="col">

        <div class="row mb-4">
            <h5>Mauris massa</h5>
            <button type="submit" class="btn btn-primary ml-auto ml-1">Export</button>
        </div>

        <div class="row">
            <img src="~/img/SecondaryGraphTwo.png" class="img-fluid" />
        </div>

        <br />

        <div class="row">

            <div class="col text-center">
                Start Date:
                <input id="startDateTwo" value="@DateTime.Today.AddDays(-14).ToShortDateString()" />
            </div>

            <div class="col text-center">
                End Date:
                <input id="endDateTwo" value="@DateTime.Today.ToShortDateString()" />
                <br />
                <button type="reset" class="btn btn-primary float-lg-right" onclick="changeGraph()" asp-area="">Regenerate</button>
            </div>

        </div>

    </div>

</div>

<script src="~/js/AdminHome.js"></script>