@page
@model RudysRecyclables.Pages.AdminHomeModel
@{
    ViewData["Title"] = "AdminHome";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>AdminHome</h1>
<p>
    <h5>Aggregate Statistics</h5>
</p>
<div class="row">
    <div class="col"><center><b>StatOne</b></center></div>
    <div class="col"><center><b>StatTwo</b></center></div>
    <div class="col"><center><b>StatThree</b></center></div>
    <div class="col"><center><b>StatFour</b></center></div>
</div>

<img src="~/img/AdminHome.png" />
