@page
@model RudysRecyclables.Pages.EditingModel
@{
    ViewData["Title"] = "Editing";
}


<br />
<div class="card w-50">
    <div class="card-body">
        <h3>&ensp;Edit your posting</h3><br />
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <input class="mr-sm-2" type="text" placeholder=" Title" aria-label="Title" value=" Lamp">
                <select class="form-control-sm">
                    <option value="one">Total</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
            </form>
        </div>
        <br />
        <div class="container">
            <textarea class="form-control" rows="7" id="description">Nam ut odio eros. Duis rhoncus felis sapien, quis iaculis libero molestie vel.Ut faucibus nibh eu rutrum porttitor. Proin lacinia porta dignissim. Vestibulum non dolor justo. Phasellus ut urna eget nunc condimentum efficitur.</textarea>
        </div>
        <br />
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" class="d-none">
                    Add pictures
                </label>
                <button type="submit" class="btn btn-primary ml-auto ml-1" asp-area="" asp-page="/Index">Update</button>
            </form>
        </div>
    </div>
</div>