@page
@model RudysRecyclables.Pages.EditingModel
@{
    ViewData["Title"] = "Editing";
}


<br />

<div class="card w-50">

    <div class="card-body">
        <h3>&ensp;Edit your posting</h3><br />

        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <input class="mr-sm-2" type="text" placeholder=" Title" aria-label="Title" value=" Lamp">
                <select class="form-control-sm">
                    <option value="" disabled>Quality</option>
                    <option value="one" selected>Excellent</option>
                    <option value="two">Great</option>
                    <option value="three">Good</option>
                    <option value="four">Ok</option>
                    <option value="five">Poor</option>
                </select>
                <input class="w3-check  ml-auto ml-1" type="checkbox">
                <label>Claimed?</label>
            </form>
        </div>

        <br />

        <div class="container">
            <textarea class="form-control" rows="7" id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas efficitur tellus ac imperdiet. Donec nibh elit, dapibus a posuere nec, efficitur vel erat. Pellentesque molestie ut elit sit amet pellentesque. Suspendisse in nisi quis libero imperdiet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est justo, auctor sed lectus nec, ullamcorper tempus libero. Nullam condimentum tortor vel vestibulum sagittis. Nunc ut semper tortor. Aenean condimentum dapibus eros non consectetur. Ut a eros hendrerit leo efficitur ultricies. Duis viverra maximus quam efficitur fringilla.</textarea>
        </div>

        <br />

        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" class="d-none">
                    Add pictures
                </label>
                <button type="submit" class="btn btn-primary ml-auto ml-1" asp-area="" asp-page="/Index">Update</button>
            </form>
        </div>

    </div>

</div>