@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Grey and the Gang</h1>
</div>

<div class="card-columns">
    @foreach (var product in Model.Products)
    {   
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Image');"></div>
        <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
        </div>
    </div>
    }
</div>
