@page
@model RudysRecyclables.Pages.ItemModel
@{
    ViewData["Title"] = "Item";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current Item</li>
    </ol>
</nav>
<div class="row">
    <div class="column w-50">
        <img class="img-fluid" src="~/img/MainLamp.png" alt="Lamp" />
    </div>
    <div class="column w-50">
        <h1></br></br></br></br>Fancy Lamp</h1>
        <h4>05/18/2020</h4></br>
        <h5>Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit.<br> 
        Donec ac tellus ac metus commodo 
        interdum quis quis mauris. 
        Pellentesque sed pulvinar eros, 
        a vulputate diam. Vestibulum in ornare leo.</h5>
    </div>
</div>
<div class="row text-center text-lg-left">
    <div class="col-lg-2 col-md-4 col-6">
        <a href="~/img/AltLamp1.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/AltLamp1.png" alt="AltLamp1">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-6">
        <a href="~/img/AltLamp2.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/AltLamp2.png" alt="AltLamp2">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-6">
        <a href="~/img/AltLamp3.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/AltLamp3.png" alt="AltLamp3">
        </a>
    </div>
</div>

<img src="~/img/ItemPagePicture.jpg" />
<img src="~/img/ItemPageDescription.jpg" />


<form class="form-inline my-2 my-lg-0">
    <button type="submit" class="btn btn-primary" asp-area="" asp-page="/PosterContacted">Contact</button>
</form>