@page
@model RudysRecyclables.Pages.ItemModel
@{
    ViewData["Title"] = "Item";
}

<h1>Item</h1>
<img src="~/img/ItemPage.jpg" />
<button type="submit" class="btn btn-primary" asp-area="" asp-page="/PosterContacted">Contact</button>
