@page
@model RudysRecyclables.Pages.ItemNotFoundModel
@{
    ViewData["Title"] = "ItemNotFound";
}

<h1>ItemNotFound</h1>

<br>
<div class="container h-100 d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-primary" asp-area="" asp-page="/AfterSearch">Search</button>
    </form>
    &emsp;
    <form class="form-inline my-2 my-lg-0">
        <select class="form-control">
            <option value="" disabled selected>Sort by</option>
            <option value="one">Newest</option>
            <option value="two">Oldest</option>
            <option value="three">Most View</option>
        </select>
    </form>
    &emsp;
    <form class="form-inline my-2 my-lg-0">
        <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Posting">Post</button>
    </form>
</div>

@*<img src="~/img/ItemNotFound.jpg" /> *@

<div class="container">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col align-self-center">
            <h2><br><br><br>Sorry, no results found!</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-end">
        <div class="col"></div>
        <div class="align-content-lg-center">
            <h4>Would you like to be notified next time this type of item is posted? </h4>
            <br />
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-end">
        <div class="col"></div>
        <div class="align-content-lg-center">
            <form>
                <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Wishlist">Add to Wish List</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

