@page
@model RudysRecyclables.Pages.ItemModel
@{
    ViewData["Title"] = "Item";
}

<h1>Item</h1>
<img src="~/img/ItemPage.jpg" />
<form class="form-inline my-2 my-lg-0">
    <button type="submit" class="btn btn-primary" asp-area="" asp-page="/PosterContacted">Contact</button>
</form>