@page
@model RudysRecyclables.Pages.MyItemModel
@{
    ViewData["Title"] = "MyItem";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/Item.css">
    </head>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current Item</li>
    </ol>
</nav>

<div class="row">

    <img class="img-fluid" src="~/img/NoImage.jpg" alt="ImageMissing" />
    
    <div class="col">
        <br><br><br>

        <h1><b>Leather Office Chair</b></h1>

        <h6>06/02/20</h6>

        <p align="justify">
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas efficitur tellus ac imperdiet. Donec nibh elit, dapibus a posuere nec,
            efficitur vel erat. Pellentesque molestie ut elit sit amet pellentesque. Suspendisse in nisi quis libero imperdiet sodales. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Maecenas est justo, auctor sed lectus nec, ullamcorper tempus libero. Nullam condimentum tortor vel vestibulum sagittis. Nunc ut semper tortor.
            Aenean condimentum dapibus eros non consectetur. Ut a eros hendrerit leo efficitur ultricies. Duis viverra maximus quam efficitur fringilla.<br><br>
        </p>

        <form>
            <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Editing">Edit</button>
        </form>

    </div>

</div>