@page
@model RudysRecyclables.Pages.PosterContactedModel
@{
    ViewData["Title"] = "PosterContacted";
}

<h1>PosterContacted</h1>
<head>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .centerButton {
            margin: 0;
            position: absolute;
            top: 57%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="container">
    <div class="center">
        <h2>The poster has been notified!</h2>
    </div>
    <form>
        <div class=" centerButton"><button type="submit" class="btn btn-primary" asp-area="" asp-page="/Index">Ok!</button></div>
    </form>
</div>



