@page
@model RudysRecyclables.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
}

<h1>Create a new posting</h1>
<div class="container h-100 d-flex">
    <input class="mr-sm-2" type="text" placeholder="Title" aria-label="Title">
    <form class="form-inline my-2 my-lg-0">
        <select class="form-control">
            <option value="one">Total</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
        </select>
    </form>
</div>
<br />
<div class="container">
    <textarea class="form-control" rows="5" id="description"></textarea>
</div>
<br />
<div class="container">
    <form class="form-inline my-2 my-lg-0">
        <button type="submit" class="btn btn-primary">Add pictures</button>
        <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Index">Post</button>
    </form>
</div>

@*<img src="~/img/Posting.png" />*@
