@page
@model RudysRecyclables.Pages.PosterContactedModel
@{
    ViewData["Title"] = "PosterContacted";
}

<h1>PosterContacted</h1>



<form class="form-inline my-2 my-lg-0">
    <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Index">Ok!</button>
</form>

