@page
@model RudysRecyclables.Pages.PosterContactedModel
@{
    ViewData["Title"] = "PosterContacted";
}

<h1>PosterContacted</h1>

<div class="container">
    <div class="center">
        <h2>The poster has been notified!</h2>
    </div>
    <form>
        <div class=" centerButton"><button type="submit" class="btn btn-primary" asp-area="" asp-page="/Index">Ok!</button></div>
    </form>
</div>



