@page
@model RudysRecyclables.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
}

<h1>Create a new posting</h1>
<div class="container">
    <form class="form-inline my-2 my-lg-0">
        <input class="mr-sm-2" type="text" placeholder="Title" aria-label="Title">
            <select class="form-control">
                <option value="one">Total</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>
    </form>
</div>
<br />
<div class="container">
    <textarea class="form-control" rows="5" id="description"></textarea>
</div>
<br />
@*<div class="container">
    <form class="form-inline my-2 my-lg-0">
        <div class="text-left">
            <button type="submit" class="btn btn-primary">Add pictures</button>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" asp-area="" asp-page="/Index">Post</button>
            </div>
    </form>
</div>*@

<div class="container">
    <div class="btn-group">
        <button class="btn btn-primary">Add pictures</button>
    </div>
    <div class="btn-group pull-right">
        <div class="pull-right">
            <button class="btn btn-primary" asp-page="/Index">Post</button>
        </div>
    </div>
</div>


@*<img src="~/img/Posting.png" />*@
