@page
@model RudysRecyclables.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
}

<h1>Create a new posting</h1>
<div class="container h-100 d-flex">
    <input class="mr-sm-2" type="text" placeholder="Title" aria-label="Title">
    <form class="form-inline my-2 my-lg-0">
        <select class="form-control">
            <option value="one">Total</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
        </select>
    </form>
</div>

<textarea class="form-control" rows="5" id="description"></textarea>


    <img src="~/img/Posting.png" />
