@page
@model RudysRecyclables.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
}

<h1>Create a new posting</h1>

<input class="mr-sm-2" type="text" placeholder="Title" aria-label="Title">

<textarea class="form-control" rows="5" id="description"></textarea>


<img src="~/img/Posting.png" />
