@page
@model RudysRecyclables.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
}


<br />
<div class="card w-50">
    
    <div class="card-body">

        <h3>&ensp;Create a new posting</h3>
        
        <br />
        
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <input class="mr-sm-2" type="text" placeholder=" Title" aria-label="Title">
                <select class="form-control-sm">
                    <option value="" disabled selected>Quality</option>
                    <option value="one">Excellent</option>
                    <option value="two">Great</option>
                    <option value="three">Good</option>
                    <option value="four">Ok</option>
                    <option value="five">Poor</option>
                </select>
            </form>
        </div>
        
        <br />
        
        <div class="container">
            <textarea class="form-control" rows="7" id="description"></textarea>
        </div>
        
        <br />
        
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" class="d-none">
                    Add pictures
                </label>
                <button type="submit" class="btn btn-primary ml-auto ml-1" asp-area="" asp-page="/Index">Post</button>
            </form>
        </div>
    
    </div>

</div>