@page
@model RudysRecyclables.Pages.ViewMyItemsModel
@{
    ViewData["Title"] = "ViewMyItems";
}

<h1>ViewMyItems</h1>

<br>
<div class="card-columns">
    
    <div class="card">
        
        <div class="card-img">
            <img src="~/img/NoImage.jpg" class="card-img">
        </div>
        
        <div class="card-body">
            <a class="card-title" asp-area="" asp-page="/MyItem">Leather Office Chair</a>
        </div>
    
    </div>

</div>