@page
@model RudysRecyclables.Pages.ViewMyItemsModel
@{
    ViewData["Title"] = "ViewMyItems";
}

<h1>ViewMyItems</h1>

<br>
<div class="card-columns">
    
    <div class="card">
        
        <div class="card-img">
            <img src="~/img/MainLamp.png" class="card-img">
        </div>
        
        <div class="card-body">
            <a class="card-title" asp-area="" asp-page="/MyItem">Lamp</a>
        </div>
    
    </div>
    
    <div class="card">
       
        <div class="card-img">
            <img src="~/img/DeskLamp.png" class="card-img">
        </div>
        
        <div class="card-body">
            <a class="card-title" asp-area="" asp-page="">Desk Lamp</a>
        </div>
    
    </div>
    
    <div class="card">
        
        <div class="card-img">
            <img src="~/img/FloorLamp.jpg" class="card-img">
        </div>
        
        <div class="card-body">
            <a class="card-title" asp-area="" asp-page="">Floor Lamp</a>
        </div>
    
    </div>

</div>