@page
@model RudysRecyclables.Pages.WishlistModel
@{
    ViewData["Title"] = "Wishlist";
}


</br></br>
<div id="myDIV" class="header">
    <h2 style="margin:0px">Wish List</h2></br>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
    <li>Desk</li>
    <li class="checked">Table</li>
    <li>Graduation</li>
    <li>Job</li>
    <li>Chair</li>
</ul>
<script rel="stylesheet" type="text/javascript" src="~/js/WishListJS.js"></script>

