/* CSS to control images on Item page */
.largeImage 
{
    position: absolute;
    left: -9999px;
}

/* CSS to control hovering thumbnails on Item page */
#hover:hover .largeImage 
{
    left: 20px;
    top: -320%;
}

/* CSS for general site layout */
.checked 
{
    color: orange;
}

/* CSS to control images on Item page */
.fa-star 
{
    cursor: pointer;
}

/* CSS to control images on Item page */
.card-columns .card:hover .card-img 
{
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

/* CSS to control images on Item page */
.card-columns .card-body 
{
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

/* CSS to control images on Item page */
.center 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* CSS to control images on Item page */
.centerButton 
{
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* CSS to control images on Item page */
.card-columns .card-img 
{
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

/* CSS to control images on Item page */
.modal .card-img
{
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* CSS to control images on Item page */
.card-columns .card:hover 
{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

/* CSS to control images on Item page */
.card-footer 
{
    background: #fbfafd;
}

/* CSS to control images on Item page */
a.navbar-brand 
{
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* CSS to control images on Item page */
.btn-primary 
{
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

/* CSS to control images on Item page */
.btn-primary:hover 
{
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

/* CSS to control images on Item page */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link 
{
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html 
{
    font-size: 14px;
}

@media (min-width: 768px) 
{
    html 
    {
        font-size: 16px;
    }
}

.border-top 
{
    border-top: 1px solid #e5e5e5;
}

.border-bottom 
{
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow 
{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy 
{
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p 
{
    font-family: 'Nunito', sans-serif;
}

h1 
{
    font-family: 'Nunito', sans-serif;
}

ul 
{
    font-family: 'Nunito', sans-serif;
}

.footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar 
{
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer 
{
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}

/* Wishlist styling */
/* Remove margins and padding from the list */
#myUL 
{
    margin: 0;
    padding: 0;
}

/* Style the list items */
.myItem 
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
.myUL .myItem:nth-child(odd) 
{
    background: #f9f9f9;
}

/* Darker background-color on hover */
.myItem:hover 
{
    background: #ddd;
}

/* Style the close button */
.close 
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

/* Hover over the close button functionality */
.close:hover 
{
    background-color: #f44336;
    color: white;
}

/* Style the header */
#myDIV 
{
    background-color: #778899;
    padding: 30px 40px;
    color: black;
    text-align: center;
}

/* Style the input */
#myInput 
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn 
{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

/* Color for hovering over the add button */
.addBtn:hover 
{
    background-color: #bbb;
}

